<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeGeliştirmeKursu"
        tools:targetApi="31">
        <activity
            android:name=".datastore.DataStoreActivity"
            android:exported="true"
            android:label="@string/title_activity_data_store"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvvmstructure.ExampleMVVMActivity"
            android:exported="false"
            android:label="@string/title_activity_example_mvvmactivity"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu">
        </activity>
        <activity
            android:name=".material.foodapp.FoodAppActivity"
            android:exported="false"
            android:label="@string/title_activity_food_app"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu"/>
        <activity
            android:name=".material.LazyStructureActivity"
            android:exported="true"
            android:label="@string/title_activity_lazy_structure"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".material.CardExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_card_example"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".material.ComposeTopBarActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_material"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".widget.GuessNumberGameActivity"
            android:exported="false"
            android:label="@string/title_activity_guess_number_game"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".widget.MaterialComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_material_compose"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".structure.PageStructureActivity"
            android:exported="false"
            android:label="@string/title_activity_page_structure"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".design.YemekTarifUygulamasi"
            android:exported="false"
            android:label="@string/title_activity_yemek_tarif_uygulamasi"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".design.LoginUygulama"
            android:exported="false"
            android:label="@string/title_activity_login_uygulama"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".design.IlhamVerUygulama"
            android:exported="false"
            android:label="@string/title_activity_ilham_ver_uygulama"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
        <activity
            android:name=".design.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackComposeGeliştirmeKursu" />
    </application>

</manifest>